.caja{
    width: clamp(200px, 10%, 500%);
    height: calc(300px *2);
    border: 2px solid red;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: calc(300px * 2);

}